import 'dart:io';

class Env {
  static String get baseUrl {
    // Replace with your backend API URL
    // e.g. Platform.isAndroid ? 'http://10.0.2.2:3000' : 'http://localhost:3000'
    return Platform.isAndroid ? 'http://10.0.2.2:3000' : 'http://localhost:3000';
  }

  static const String googleServerClientId = 'YOUR_GOOGLE_SERVER_CLIENT_ID';
}
